@{
    ViewData["Title"] = "Erro";
}
<div class="text-center bg-secondary">
    <h1><i class="fa-solid fa-triangle-exclamation text-warning"></i> Ops...</h1>
    <h4>Alguma coisa deu errado!</h4>
</div>
