@model Veterinario


<div class="mb-3">
    <label asp-for="Nome" class="form-label"></label>
    <input asp-for="Nome" class="form-control"/>
</div>

<div class="mb-3">
    <label asp-for="Especialidade" class="form-label"></label>
    <input asp-for="Especialidade" class="form-control"/>
</div>

<div class="mb-3">
    <label asp-for="ContratoTrabalho.DataContratacao" class="form-label"></label>
    <input asp-for="ContratoTrabalho.DataContratacao" class="form-control"/>
</div>

<div class="mb-3">
    <label asp-for="ContratoTrabalho.Tipo" class="form-label"></label>
    <select asp-for="ContratoTrabalho.Tipo" class="form-control" asp-items="@Html.GetEnumSelectList<TipoContrato>()">
        <option>Selecione</option>
    </select>
</div>

<div class="mb-3">
    <label asp-for="ContratoTrabalho.Valor" class="form-label"></label>
    <input asp-for="ContratoTrabalho.Valor" class="form-control"/>
</div>
