
@{
    ViewData["Title"] = "Cadastrar Veterinario";
}

<h1>Cadastrar novo veterinário</h1>

<form asp-action="Cadastrar">
    <partial name="_form"></partial>
    <input type="submit" class="btn btn-primary" value="Cadastrar" />
</form>

