<h1>Cadastrar novos administradores</h1>

<form asp-action="Cadastrar">
    <div class="mb-3">
        <label>Email</label>
        <input type="text" Name="Email" class="form-control">
    </div>

    <div class="mb-3">
        <label>Senha</label>
        <input type="password" Name="Password" class="form-control">
    </div>

    <input type="submit" />
</form>








@*@using TesteRoles.Areas.Identity.Data
@model Usuario

<h1>Cadastrar novos administradores</h1>

<form asp-action="Cadastrar">
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="PasswordHash"></label>
        <input asp-for="PasswordHash" class="form-control">
    </div>

    <input type="submit" />
</form>*@






