@{
    ViewData["Title"] = "Videogames";
}

<div class="text-center">
    <h1 class="display-4">Videogames</h1>
    <p>
        Videogames são aparelhos que reproduzim jogos no qual o jogador interage através de periféricos de entrada conectados ao aparelho, como controles (joysticks) e/ou teclado com imagens enviadas a uma televisão ou um monitor. Os sistemas eletrônicos usados para jogar videojogos são conhecidos como plataformas — como, por exemplo, computadores, arcades, celulares e <b>consoles</b>. Veja a seguir uma lista dos consoles mais notáveis de todos os tempos.
    </p>
    <div class="container col-3">
        <div class="row">
            <a class="btn btn-outline-primary" asp-controller="VideoGames" asp-action="Odyssey">Magnavox Odyssey</a>
            <a class="btn btn-outline-primary" asp-controller="VideoGames" asp-action="Atari">Atari</a>
            <a class="btn btn-outline-primary" asp-controller="VideoGames" asp-action="NES">Nintendo NES</a>
            <a class="btn btn-outline-primary" asp-controller="VideoGames" asp-action="SNES">Super Nintendo SNES</a>
            <a class="btn btn-outline-primary" asp-controller="VideoGames" asp-action="Megadrive">SEGA Megadrive</a>
            <a class="btn btn-outline-primary" asp-controller="VideoGames" asp-action="Nintendo64">Nintendo 64</a>
            <a class="btn btn-outline-primary" asp-controller="VideoGames" asp-action="Playstation1">Sony Playstation 1</a>

        </div>
    </div>
</div>
