@{
	ViewData["Title"] = "Em Manutenção";
}

<div class="text-center">
    <h1><i class="bi bi-cone-striped"></i></h1>
    <h1 class="display-4">Página em Manutenção!</h1>
    <p>Estamos em manutenção no momento, em breve mais novidades. <a asp-controller="Home" asp-action="Index">Ir para Home</a></p>
</div>
