@{
    ViewData["Title"] = "Atari";
}

<h1>Atari</h1>
<a asp-controller="Home" asp-action="Index">Página Inicial</a>
<br>
<img src="../img/atari.jpg" width="300">
<p>Lançado em 1977, O Atari 2600 foi campeão de vendas e popularidade, dominando de tal forma o mercado que seus rivais passaram a descaradamente criar adaptadores para seus consoles serem compatíveis. O infalível paddle estava lá, mas o controle principal mudou: um manche de 8 eixos e um botão de disparo — grande acerto. Sem contar inúmeros periféricos como teclados infantis, controles sem fio, etc.</p>
<p>A melhoria nos gráficos ajudou a popularizar os videogames. Era o máximo da modernidade juntar a família no sofá para controlar o aviãozinho de River Raid, ou ver o pôr-do-sol em Enduro, desafiar o irmão no Pong e se divertir jogando Pacman.</p>
<a asp-controller="VideoGames" asp-action="Odyssey"><--- Anterior</a>
<a asp-controller="VideoGames" asp-action="NES">Próxima ---></a>
