@{
    ViewData["Title"] = "SEGA Megadrive";
}

<h1>SEGA Megadrive</h1>
<a asp-controller="Home" asp-action="Index">Página Inicial</a>
<br>
<img src="../img/megadrive.jpg" width="300">
<p>Intensa foi a disputa Mega Drive x SNES. Principalmente fora do Japão, a briga foi de cachorro grande e abafou qualquer concorrência. A "malandragem" do CEO da Sega of America, Tom Kalinske, transformou o que tinha tudo pra ser outro passeio da Nintendo na contenda mais feroz e equilibrada já vista.</p>
<a asp-controller="VideoGames" asp-action="SNES"><--- Anterior</a>
<a asp-controller="VideoGames" asp-action="Nintendo64">Próxima ---></a>