@{
    ViewData["Title"] = "Nintendo NES";
}

<h1>Nintendo NES</h1>
<a asp-controller="Home" asp-action="Index">Página Inicial</a>
<br>
<img src="../img/nes.jpg" width="300">
<p>Lançado em 1983, considerado o primeiro videogame da nova era. A geração foi chamada também de "8-bit. O salto de tecnologia foi sensível: a maioria dos consoles usava processadores 8-bit e chips adicionais de áudio e vídeo, mais velozes. Pela primeira vez os bonecos na tela pareciam alguma coisa que não fossem claramente blocos; sprites eram detalhados. Ninjas, encanadores, carros: tudo era distinguível. Mais cores, resolução de tela, músicas e até voz digitalizada aqui e ali.</p>
<p>O NES se tornou um sistema extremamente difundido graças a jogos da Nintendo que lançaram franquias bem-sucedidas, como Mario, Metroid, Donkey Kong, Zelda, Mega Man, Castlevania, Contra e Final Fantasy. O jogo mais vendido é Super Mario Bros., com 40 milhões de cópias, mas acompanhando o console (às vezes num cartucho que incluía Duck Hunt). Super Mario Bros. 3 é o jogo separado mais vendido na história do console, com 17 milhões de cópias.</p>
<a asp-controller="VideoGames" asp-action="Atari"><--- Anterior</a>
<a asp-controller="VideoGames" asp-action="SNES">Próxima ---></a>