@{
    ViewData["Title"] = "Nintendo 64";
}

<h1>Nintendo 64</h1>
<a asp-controller="Home" asp-action="Index">Página Inicial</a>
<br>
<img src="../img/nintendo64.jpg" width="300">
<p>O 2D tinha seus dias de glória contados. Os polígonos nos arcade apontavam o futuro e a tecnologia se aproximava do mínimo exigido para começar a exploração de mundos 3D nos consoles.</p>
<a asp-controller="VideoGames" asp-action="Megadrive"><--- Anterior</a>
<a asp-controller="VideoGames" asp-action="Playstation1">Próxima ---></a>