@{
    ViewData["Title"] = "Odyssey";
}

<h1>Odyssey Magnavox</h1>
<a asp-controller="Home" asp-action="Index">Página Inicial</a>
<br>
<img src="../img/odyssey.jpg" width="300">
<p>
    A linha começa em 1972, com o Odyssey Magnavox, em sua versão conhecida como "Brown Box". O engenheiro americano Ralph Baer desenhou o protótipo em meados de 1966, mas só em 1971 ele foi licenciado para a Magnavox e lançado no ano seguinte.

    Tal como os poucos arcades que já existiam, era um aparelho de extrema simplicidade: sem som, sem cor, para simular a cor de ambientes e texturas, como uma pista ou um gramado, era preciso colocar uma folha de acetato colorida sobre a tela da TV. Sem troca de cartuchos, os jogos tinham sua lógica e a saída para a tela controlados por jumpers na placa; para mudá-los, alteravam-se esses jumpers com a inserção de "game cards". Eram banais, compostos por quadrados ou retângulos em movimento. O Odyssey teve 27 jogos.
</p>
<a asp-controller="VideoGames" asp-action="Atari">Próxima ---></a>