@{
    ViewData["Title"] = "Sony Playstation 1";
}

<h1>Sony Playstation 1</h1>
<a asp-controller="Home" asp-action="Index">Página Inicial</a>
<br>
<img src="../img/ps1.jpg" width="300">
<p>Graças às vantagens competitivas (falta de concorrentes de peso no lançamento, preço mais baixo, arquitetura mais interessante para desenvolvedores) e ótimos jogos, o PlayStation disparou na preferência desde o início.</p>
<p>A revolução foi confirmada com a adoção universal dos gráficos 3D, sonho antes só vislumbrado com "gambiarras" como o SFX, o 32X e afins da geração prévia. Lara Croft quadrada fez sucesso, e os zumbis de Resident Evil mostraram o poder dos novos brinquedos. A mídia foi o CD, embora a Nintendo tenha teimado nos cartuchos, erro que levou parceiros como a Square a abandoná-la. A Sega caiu pelas tabelas graças à complexa arquitetura do seu Saturn: </p>
<a asp-controller="VideoGames" asp-action="Nintendo64"><--- Anterior</a>