@{
    ViewData["Title"] = "Super Nintendo SNES";
}

<h1>Super Nintendo SNES</h1>
<a asp-controller="Home" asp-action="Index">Página Inicial</a>
<br>
<img src="../img/snes.jpg" width="300">
<p>A "era 16-bit" teve a lendária guerra entre Sega e Nintendo, brigando pelo domínio palmo a palmo. SNES foi lançado em 1991 e a sua evolução foi no sentido de melhorar o que se fazia nos 8-bit e não necessariamente revolucionar. Sprites maiores, mais camadas, áudio com mais canais e processadores velozes permitiram games 2D maiores, RPGs com centenas de cenários, vozes. Controles enriqueceram, em botões e designs.</p>
<p>O SNES permaneceu popular até a era de 32 bits e continua a ser popular entre os fãs, colecionadores, retro gamers e entusiastas de emulação, alguns dos quais ainda estão fazendo imagens ROM homebrew. O sucesso de sua venda foi superior a 50 milhões de unidades por todo o mundo. O SNES foi oficialmente descontinuado em setembro de 1999 nos Estados Unidos, e em setembro de 2003, no Japão. </p>
<a asp-controller="VideoGames" asp-action="NES"><--- Anterior</a>
<a asp-controller="VideoGames" asp-action="Megadrive">Próxima ---></a>